@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="welcome">Welcome to the Admin Pannel</p>

<div class="wrap">
<div class="postsBox">
    <img src="../img/posts.png" alt="Posts" class="postsImg">
    <div class="posts">Posts</div>
</div>

<div class="commentsBox">
    <img src="../img/comments.png" alt="Comments" class="commentsImg">
    <div class="commnets">Comments</div>
</div>

<div class="categoriesBox">
    <a href="@Url.Action("Categories", "Admin")">
        <img src="../img/categories.png" alt="Categories" class="categoriesImg">
    </a>
        <div class="categories">Categories</div>
</div>

<div class="tagsBox">
    <img src="../img/tags.png" alt="Tags" class="tagsImg">
    <div class="tags">Tags</div>
</div>

<div class="usersBox">
    <a href="@Url.Action("Users", "Admin")">
        <img src="../img/users.png" alt="Users" class="usersImg">
    </a>
        <div class="users">Users</div>
</div>

<div class="filesBox">
    <img src="../img/files.png" alt="Files" class="filesImg">
    <div class="files">Files</div>
</div>
</div>
<br>
<br>
