body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

dd {
    margin-bottom: 20px;
}

/* Menu profile picture */
@media (max-width: 768px) {
  #profilePicture {
      display: none;
  }  
}

/* Anchor Top of Page */
.top {
    text-decoration: none;
    float: right;
}

/* Admin Pannel */
.welcome {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.postsBox, .commentsBox, .categorieBox, .tagBox, .usersBox, .filesBox {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    margin-bottom: 20px;
    max-width:960px;
}

.postsImg, .commentsImg, .categoriesImg, .tagsImg, .usersImg, .filesImg {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 10px;
    text-align:center;
    width:100%;
    display:block;
    margin:auto;
}

.posts, .commnets, .categories, .tags, .users, .files {
    border: 1px solid;
    font-weight: bold;
    display: block;   
}

/* Debug */
.answer {
    border: 1px solid tomato;
    position: relative;
    margin: 20px 20px 20px 20px;
    padding: 5px 5px 5px 5px;
}