@font-face {
    font-family: ArduinoFont;
    src: url('../fonts/ArduinoFont.ttf') format("truetype");
    font-weight: bold;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: ArduinoFont;
    color: #337ab7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

dd {
    margin-bottom: 20px;
}

/* Menu profile picture */
@media (max-width: 768px) {
  #profilePicture {
      display: none;
  }  
}

/* Anchor Top of Page */
.top {
    text-decoration: none;
    float: right;
}

/* Admin Pannel */
.welcome {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.wrap{
    margin-bottom: 600px;
}

.postsBox {
   
   width: 100px;
   height: 120px;
   position: absolute;
   left: 525px;
   top: 200px;
   margin-right: 10px;
}

.tagsBox {
   
   width: 100px;
   height: 140px;
   position: absolute;
   left: 675px;
   top: 200px;
   margin-right: 10px;
}

 .commentsBox {
   
   width: 100px;
   height: 120px;
   position: absolute;
   left: 825px;
   top: 200px;
}

.filesBox {
    
    width: 100px;
    height: 120px;
    position: absolute;
    left: 525px;
    top: 400px;
    margin-right: 10px;
}

.categoriesBox {
   
   width: 100px;
   height: 120px;
   position: absolute;
   left: 675px;
   top: 400px;
   margin-right: 10px;
   
}

.usersBox {
   
   width: 100px;
   height: 120px;
   position: absolute;
   left: 825px;
   top: 400px;
   
}

.posts, .commnets, .categories, .tags, .users, .files {
    
    font-weight: bold;
    display: block;
    margin: 10px 10px 10px 10px;
    text-align:center;   
}

.postsImg, .commentsImg, .categoriesImg, .tagsImg, .usersImg, .filesImg {
    
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

/* Answers View Css */

.authorpost {
    background-color: #e6e6ff;
    position: relative;
    margin: 20px 20px 20px 20px;
    padding: 5px 15px 15px 15px;
    border: 1px solid #337ab7;
    border-radius: 10px;
}

.answer {
    background-color: #e6e6ff;
    position: relative;
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 10px 15px;
    border: 1px solid #337ab7;
    border-radius: 10px;
}

.reply-div {
    width: 95%;
    margin: auto;
}

input {
    border: 2px double #337ab7;
    padding-left: 10px;
}

input[type=submit] {
    border-radius: 5px;
    padding: 5px 15px 5px 15px !important;
}


input[type=submit]:hover {
    background-color: #337ab7;
    color: white;
}



/* Home Page */

.wrapHome {
    margin: 50px 0 600px 0;
}

.siteHeader {
    width: 80%;
    margin-left: 20%;
}

.siteHeader a:hover{
    text-decoration: none;
}

.header-div {
    display: inline-block;
}

.welcomeHome {
    margin-top: 25px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}

.header-div-logo {
    width: 13%;
}

.logoHome {
    margin: 0 auto;
    max-width:100%;
    max-height:100%;
}

.rowHome {
   margin-top: 50px;
   margin-left: 230px;
}

.rowHome ul {
    border: 1px solid rgb(230, 230, 255);
    border-radius: 6px;
    padding: 3px 5px;
    background-color: rgb(230, 230, 255);
}


#postContainer  {
    font-weight: bold;
    display: block;
    padding-top: 40px;
}

.recent-row {
    margin-top: 10px;
}

.recent-row td:first-child {
    border-left: 1px dotted #337ab7;
}

.rowHome tr:first-child td{
    border-top: 1px dotted #337ab7;
}

.rowHome tr:last-child td{
    border-bottom: 1px dotted #337ab7;
    padding-bottom: 5px;
}

.recent-row td {
    padding: 5px 10px 5px 10px;
    border-right: 1px dotted #337ab7;
    background-color: #e6e6ff;
    vertical-align: middle;
}

/* Users Page */

#results {
    margin-top: 20px;
    margin-left: 430px;
    margin-bottom: 100px;
    font-size: 0.9em; 
}

#searchUsers {
    margin-top: 50px;
    margin-left: 410px;
   
}

#searchForm {
    font-size: 1em; 
}