body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

dd {
    margin-bottom: 20px;
}

/* Menu profile picture */
@media (max-width: 768px) {
  #profilePicture {
      display: none;
  }  
}

/*Anchor Top of Page*/
.top {
    text-decoration: none;
    float: right;
}

/*Admin Pannel*/
.postsimg .commentsimg .categoriesimg .tagsimg .usersimg .filesimg {
    height: auto;
    width: 150px;
    float: center;
    padding-left: 20px;
}

.posts .comments .categories .tags .users .files {
    font-weight: bold;
    float: center;
    padding-left: 20px;
}