@model IEnumerable<Forum.Models.Category>

<h2>Create thread</h2>

@using (Html.BeginForm("Create", "ForumThread")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ForumThread</h4>
        <hr />

        <div class="form-group">
            <select id="categoryId" name="categoryId">
                @foreach (var category in @Model)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        
        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label">Title:</label>
                <input type="text" id="title" name="title"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label class="control-label">Body:</label>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
