@model Forum.Models.ForumThread

<div class="row">
    
    @using (Html.BeginForm("ReplyToThread", "ForumThread", FormMethod.Post, new
                                                                          {
                                                                              id = "registeredUserReplyForm"
                                                                          }))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" name="forumThreadId" id="forumThreadId" value="@Model.Thread.Id"/>
        <input type="hidden" name="previousPageUrl" id="previousPageUrl" value="/ForumThread/Details/@Model.Thread.Id"/>

        if (!User.Identity.IsAuthenticated)
        {
            <input type="email" name="email" id="email" value="" />
        }
        
        @Html.TextBox("replyBody")

        <input type="submit" value="Reply"/>
    }
</div>

<div class="row">
    <h4 style="text-align: center">Answers</h4>
</div>

<hr />

@{
    if (Model.Answers != null && Model.Answers.Count > 0)
    {
        Html.RenderPartial("AnswerView", Model.Answers);
    }
}
