
@using Forum.Models.Answers
@using Microsoft.Ajax.Utilities
@model IEnumerable<RegisteredUserAnswer>

<h2>List of your answers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ForumThread.Title):
        </th>
        <th>
            Published On:
        </th>
        <th>
            Points:
        </th>
        <th>
            Replies:
        </th>
    </tr>
    @foreach (var answer in Model)
    {
        int points = answer.PositivePoints - answer.NegativePoints;
        <tr>
            <td>
                @if (answer.ForumThread != null)
                {
                    @Html.DisplayFor(modelItem => answer.ForumThread.Title)
                }
                else
                {
                    @:-----
                }
            </td>
            <td>
                @if (answer.CreationDate != null)
                {
                    @Html.DisplayFor(modelItem => answer.CreationDate)
                }
                else
                {
                    @:-----
                }
            </td>
            <td>
                @points
            </td>

            <td>
                @Html.DisplayFor(modelItem => answer.Replies.Count)
            </td>
        </tr>
    }
</table>
