
@using Forum.Models.Answers
@using Microsoft.Ajax.Utilities
@model IEnumerable<RegisteredUserAnswer>

<h2>List of your answers:</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ForumThread.Title)
        </th>
        <th>
            Date Created
        </th>
        <th>
            Points
        </th>
        <th>
            Replies
        </th>
    </tr>
    @foreach (var answer in Model)
    {
        string date = string.Empty;
        if (answer.CreationDate != null)
        {
            date = ((DateTime)(answer.CreationDate)).ToString("MM/dd/yyyy");
        }
        else
        {
            date = "-----";
        }
        int points = answer.PositivePoints - answer.NegativePoints;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => answer.ForumThread.Title)
            </td>
            <td>
                @date
            </td>
            <td>
                @points
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => answer.Replies.Count)
            </td>
        </tr>
    }
</table>
