@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Welcome To The Admin Pannel</p>

<img src="../img/posts.png" alt="Posts" class="postsimg">
<div class="posts">Posts</div>

<img src="../img/comments.png" alt="Comments" class="commentsimg">
<div class="commnets.png">Comments</div>

<img src="../img/categories.png" alt="Categories" class="categoriesimg">
<div class="categories">Categories</div>

<img src="../img/tags.png" alt="Tags" class="tagsimg">
<div class="tags">Tags</div>

<img src="../img/users.png" alt="Users" class="usersimg">
<div class="users">Users</div>

<img src="../img/files.png" alt="Files" class="filesimg">
<div class="files">Files</div>

