@model IEnumerable<Forum.Models.Category>

    @{
    ViewBag.Title = "Home Page";
    }



<div class="wrapHome">
    <div class="siteHeader">

        <div class="header-div header-div-logo">
            <a href="/"> <img src="../img/ATCLogo.png" alt="ATCLogo.png" class="logoHome"/> </a>
        </div>

        <div class="header-div welcomeHome"><a href="/">Welcome to the Arduino Tech Forum</a>
        </div>

    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>@Html.ActionLink("Create new thread", "Create", "ForumThread")</div>
    }    
        <div class="rowHome">
            <div class="col-md-8 col-md-offset-1">
                <ul class="nav nav-pills" role="tablist">
                    <li class="active"><a href="">All</a></li>

                    @foreach (var category in Model)
                    {
                        <li><a href="@category.Id">@category.Name</a></li>
                    }

                </ul>

                <div id="postContainer"></div>
                
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                loadRecentPostsInCategory();

                $('.nav-pills > li > a').click(function (event) {
                    event.preventDefault();

                    var categoryId = $(this).attr('href');
                    loadRecentPostsInCategory(categoryId);

                    $('.nav-pills > li').removeClass('active');
                    $(this).parent().addClass('active');
                });
            });


            function loadRecentPostsInCategory(categoryId) {
                $('#postContainer').load('/ForumThread/ShowRecentPostsInCategory/' + categoryId);
            }
        </script>

    </div>
