@model List<Forum.Models.ApplicationUser>



@using (Ajax.BeginForm("SearchUsers", null,
    new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace
    }, new {id = "searchForm"}))
{
    <input type="text" name="query" placeholder="Search" oninput="$('#searchForm').submit()"/>
    <input type="submit" value="Search"/>
}


<div id="results">
@Html.Partial("~/Views/Admin/User/_UsersResult.cshtml", Model)

</div>

